CYPRESS_BASE_URL=https://qa-recreionasferias.sme.prefeitura.sp.gov.br
# URL do backend que expoe /api/v1/auth/login/
API_BASE_URL=https://qa-recreionasferias.sme.prefeitura.sp.gov.br
API_USUARIO=
API_SENHA=
EDICAO_DATA_INICIO=2030-01-01
EDICAO_DATA_FIM=2030-01-31
EDICAO_INSCRICOES_INICIO=2029-12-01
EDICAO_INSCRICOES_FIM=2029-12-31